name: Docker Image CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build the Docker image
        uses: elgohr/Publish-Docker-Github-Action@v4
        with:
          name: smallzip7799/hongrunxing-web-ssr
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 部署服务器
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: 22
          script: |
            echo "拉取smallzip7799/hongrunxing-web-ssr镜像"

            docker pull smallzip7799/hongrunxing-web-ssr
            docker inspect -f '{{.Name}}' hongrunxing-web-ssr

            if [ $? == 0 ] ;then
              echo "hongrunxing-web-ssr容器已存在，需要先删除，下面开始执行删除操作："
              docker container stop hongrunxing-web-ssr
              echo "容器已停止"
              docker container rm hongrunxing-web-ssr
              echo "容器已删除"
            else
              echo "hongrunxing-web-ssr容器不存在，直接构建"
            fi

            echo "运行容器"
            docker run -d -p 7001:7001 --name hongrunxing-web-ssr smallzip7799/hongrunxing-web-ssr

            echo "删除不用的镜像"
            docker image prune -a -f
